body{
	box-sizing: border-box;
	width:800px;
}

h1{
	padding:0.5em;
	margin:1em;
}

#listphotos{
	display:flex;
	flex-wrap:wrap;

}
li {
	width:13%;
	padding:0.5em;
	list-style:none;
	margin:1em;
}

li:hover{
	background-color:silver
	border-radius: 0.5em;
}

.important{
 background-color:silver;
 border-radius: 0.5em;
}

.click{
 background-color: forestgreen;
}