.rectangle{
	width:400px;
    height:300px;
    background:#e8c9d8;
    border-radius:20px;
    transition: background-color 0.5s ease;
}
.base{
	padding:20px;
}
.hidden{
	display:none;
}
.important{
	background:#b26b8d;
}
.good{
	background:#962a5e;
}
